.work-container {
  grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 80%;
  height: 100%;
}
.grid{
  display: grid;
  width: 50%;
}
.work-container .project{
  width: 75%;
  height: 55%;
  padding: 2rem;
 background-color: var(--color-primary);
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 1.2rem;
 font-weight: 600;
 flex-direction: column ;
 transition: transform 330ms ease-in-out
}
.project:hover{
  cursor: pointer;
}
.work-container .project:hover{
  transform: scale(1.05);
}
.click-me{
  font-size: 0.9rem;
  opacity: 0.6;
}
.project-desc{
  display: flex;
  position: relative;
}
.grid-item{
  display: flex;
    flex-direction: row;
    margin: 10px;
}
.grid-display{
  display: inline-flex;
    height: auto;
    object-fit: fill;
    width: 60%;
    max-height: 60vh;
}
.grid-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: fill;
  opacity: 0.8;
}
.grid-desc {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  width: 40%;
  position: relative;
}
.back-btn{
  width: 30px;
  height: 30px;
  color: var(--color-primary);

}
.back-btn:hover{
  cursor: pointer;
}

  .project-title {
    color: var(--font-color);
    font-size: 2.3vw;
    line-height: 1.5;
    margin: 4px 0;
}
.project-description {
 background-color: var(--color-primary);
  border-radius: 5px;
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 6px 0 6px -40%;
  padding: 8px;
  z-index: 2;
}
.project-tech {
  font-family: source-code-pro,-apple-system,BlinkMacSystemFont,Helvetica Neue,sans-serif;
  font-size: 0.7rem;
  line-height: 1.5;
  margin: 4px 0;
  font-weight: 600;
}
.go-back{
  position: absolute;
  z-index: 2;
  left: -60px;
}



@media screen and (max-width: 990px){
  .grid{
    width: 90%;
    gap: 10px;
  }
}
@media screen and (max-width: 700px){
  .grid-item{
    flex-direction: column-reverse;
  }
  .description, .grid-desc,.project-description,.grid-display{
    width: 100%;
  } 
}
@media screen and (max-width: 550px){
  .work-container .project {
  width: 50%;
  height: 50%;
  font-size: 0.7rem;
  padding: 1rem;
  gap: 0;
  }
  .go-back{
    left: -20px;
  }
  .back-btn{
    width: 20px;
    height: 20px;
  }
  .project-title{
    font-size: 1rem;
  }
}