.App {
  display: flex;
  flex-direction: column  ;
  align-items: center;
  place-items: center;
  text-align: center;
  padding: 2rem;
  height: 89vh;
  background: var(--color-secondary);
  position: relative;
  overflow: hidden;
}
.bg-scaler-right{
  width: 36rem;
  height: 36rem;
  background-color: var(--color-primary);
  position: absolute;
  right: -215px;
    top: 171px;
      z-index: 1;
  transform: rotate(56deg);
  opacity: 0.1;
  -webkit-animation : pulse 60s linear alternate infinite;
    -moz-animation    : pulse 60s linear alternate infinite;
    -o-animation      : pulse 60s linear alternate infinite;
    animation         : pulse 60s linear alternate infinite;
}

.bg-scaler-left{
  width: 16rem;
  height: 16rem;
  background-color: var(--color-primary);
  position: absolute;
  left: -215px;
    top: 100px;
      z-index: 1;
  transform: rotate(35deg);
  opacity: 0.2;
  -webkit-animation : pulse-rev 60s linear alternate infinite;
  -moz-animation    : pulse-rev 60s linear alternate infinite;
  -o-animation      : pulse-rev 60s linear alternate infinite;
  animation         : pulse-rev 60s linear alternate infinite;
}
@media screen and (max-width: 990px){
  .App{
    padding: 0.25rem;
    height: 97vh;
    min-height: 95vh;
  }
  .bg-scaler-left{
    width: 7rem;
    height: 7rem;
    left: -8%;
    top: 25%;
  }
  .bg-scaler-right{
    width: 20rem;
    height: 17rem;
    right: -21%;
    top: 48%;
  }
}
@media screen and (max-width: 550px){
  .bg-scaler-left{
    width: 10rem;
    height: 10rem;
    left: -106px;
    top: 70%;
  }
  .bg-scaler-right{
    width: 18rem;
    height: 18rem;
    right: -217px;
    top: 184px;
  }
}



/* animations */

@keyframes pulse {
  from {
      transform : scale(1);
      transform: rotate(56deg);
  }
  50% {
      transform : scale(2);
      transform: rotate(75deg);
  }
  to {
      transform : scale(1);
      transform: rotate(56deg);
  }
}

@keyframes pulse-rev {
  from {
      transform : scale(1);
      transform: rotate(35deg);
  }
  50% {
      transform : scale(0.6);
      transform: rotate(55deg);
  }
  to {
      transform : scale(1);
      transform: rotate(35deg);
  }
}


