body {
  margin: 0;
  font-family: Roboto,sans-serif,Source Code Pro,monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-secondary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.theme-light {
  --color-primary: #BDD2B6;
  --color-secondary:rgb(255 255 255);
    --font-color: rgb(56, 56, 56);
}
.theme-dark {
  --color-primary: #628456;
  --color-secondary: rgb(56, 56, 56);;
  --color-accent: #12cdea;
  --font-color: #ffffff;
}